<%- title("#{@user.flickr_username}&rsquo;s rresets") -%>
<%= render :partial => 'shared/logo' %>

<% if @user.rresets.size.zero? %>
  <p>It doesn&rsquo;t look like <%= @user.flickr_username %> has any rresets to share.</p>
<% elsif @user.rresets.size == 1 %>
  <p>Here is <%= @user.flickr_username %>&rsquo;s one lonely rreset.</p>
  <div id="solo_rreset">
    <%= render :partial => @user.rresets %>
  </div>
<% else %>
  <p>Here are <%= @user.flickr_username %>&rsquo;s rresets.</p>
  <div class="fluid_container margin_top_20">
    <div class="margin_top_20">
      <%= render :partial => @user.rresets %>
      <br style="clear:both" />
    </div>
  </div>
<% end %>
